.feed {
  margin-bottom: 12.8rem;
}
.post {
  figure {
    height: 60vh;
    iframe,
    img {
      height: 100%;
      width: 100%;
      border: none;
    }
    img {
      object-fit: cover;
    }
  }
  p {
    line-height: 2.2rem;
    padding-bottom: 0;
    margin-bottom: 1.2rem;
  }
}
.fade {
  position: relative;
  height: 7.5rem; /* exactly three lines */
}
.fade::after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
