.feed {
  margin-bottom: 12.8rem;
}
.post {
  figure {
    height: 44vh;
    iframe,
    img {
      height: 100%;
      width: 100%;
      border: none;
    }
    img {
      object-fit: cover;
    }
  }
  p {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }
}
