@keyframes scaleup {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.reaction-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 4.4rem;
  width: 100%;
  background-color: #fff;
  .filled {
    transform: scale(0);
    animation: scaleup 0.5s forwards;
  }
  .btn {
    &-heart {
      svg {
        color: #cc3d5c;
      }
    }
    &-share {
      grid-column: 3;
    }
  }
}
