@use "MobileNav";
@use "ReactionBar";
@use "Post";
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: #333;
  &.btn-current {
    svg {
      color: #f88900;
    }
  }
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
button {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
}
.btn {
  &-current {
    svg {
      color: #f88900;
    }
  }
  &-icon {
    min-width: 4.4rem;
    min-height: 4.4rem;
    svg {
      color: #333;
      width: 3rem;
      height: 3rem;
    }
  }
  &-heart {
    color: #e64e6f;
  }
}
main {
  position: absolute;
  width: 100%;
  top: 61px;
}
